@using ToDoList.Backend.Domain.Enum;
@{
    ViewData["Title"] = "All tasks";
}
<h4 class="mb-3 text-muted">Все задачи</h4>

<div class="row">
    <div class="form-group col-md-6">
        <label class="col-form-label">Название</label>
        <input name="taskName" type="text" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label class="col-form-label">Приоритетность</label>
        <select name="taskPriority" class="form-control mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    </div>
    <div class="form-group col-md-6">
        <label class="col-form-label">Выполнен ли</label> 
        <input name="taskIsDone" type="checkbox" />
    </div>
</div>

<br />
<table class="table table-dark table-hover" id="taskTableId">
    <thead>
        <tr>
            <th>Название задачи</th>
            <th>Приоритетность задачи</th>
            <th>Описание задачи</th>
            <th>Дата создания задачи</th>
            <th>Выполнена ли задача</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



@section Scripts
{
    <script>
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: "btn btn-success",
                cancelButton: "btn btn-danger"
            },
            buttonsStyling: false
        });

        let dataTable = $('#taskTableId').DataTable({
            info: false,
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            ajax: {
                url: '@Url.Action("GetAllTasks")',
                method: 'POST',
                data: function (d) {
                    return $.extend({}, d, model());
                }
            },
            columns: [
                { data: 'name' },
                { data: 'priority' },
                { data: 'description' },
                { data: 'createdAt' },
                { data: 'isDone' },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return '<button class="btn btn-danger btn-sm center-block">Удалить</button>'
                    }
                }
            ],
            createdRow: function (nrow, data) {
                var taskDelete = function () {

                    swalWithBootstrapButtons.fire({
                        title: "Вы уверены?",
                        text: "Подтвердите удаление задачи.",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Да!",
                        cancelButtonText: "Отмена!",
                        reverseButtons: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("DeleteTask")',
                                data: { id: data.id },
                                success: function (response) {
                                    Swal.fire({
                                        title: 'Все получилось',
                                        text: response.description,
                                        icon: 'success',
                                        confirmButtonText: 'Окей'
                                    })
                                    dataTable.draw();
                                },
                                error: function (response) {
                                    Swal.fire({
                                        title: 'Упс',
                                        text: response.responseJSON.description,
                                        icon: 'error',
                                        confirmButtonText: 'Окей'
                                    })
                                },
                            })
                        }
                    });
                }

                for (var i = 0; i < dataTable.columns().header().length - 1; i++) {
                    $('td', nrow).eq(i).css('cursor', 'pointer');
                    $('td', nrow).eq(i).on('click', null);
                }

                $('td button', nrow).on('click', taskDelete);
            }
        });

        function model() {
            return {
                Name: $('input[name="taskName"]').val(),
                Priority: $('select[name="taskPriority"]').val(),
                IsDone: $('input[name="taskIsDone"]').is(":checked"),
            }
        }

        $('input[name="taskName"], select[name="taskPriority"]').on('change', function () {
            dataTable.draw();
        });

        $('input[type="checkbox"][name="taskIsDone"]').on('change', function () {
            dataTable.draw();
        });
    </script>
}