<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ToDoList.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"/>
</head>
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Task" asp-action="Index">ToDoList</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index">Создание задач</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="AllTasks">Все задачи</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3 ">
                    <span class="text-muted">Выполненные задачи</span>
                    <span class="badge badge-secondary badge-pill text-muted" id="countOfCompletedTasks"></span>
                </h4>
                <table class="table table-white" id="executedTaskTableId">
                    <thead>
                        <tr>
                            <th>Название задачи</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <form asp-controller="Task" asp-action="EndOfDayReport" method="post" enctype="multipart/form-data">
                    <div class="card col-md-12">
                        <button type="submit" class="btn btn-secondary">Сформировать отчет</button>
                    </div>
                </form>
            </div>
            <div class="col-md-8 order-md-1">
                @RenderBody()
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ToDoList<a asp-area=""></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.3/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        let completeDataTable = $('#executedTaskTableId').DataTable({
            info: false,
            serverSide: true,
            searching: false,
            paging: false,
            sorting: false,
            ajax: {
                url: '@Url.Action("GetExecutedTasks")',
                method: 'POST',
                data: null
            },
            columns: [
                { data: 'name' },
                {
                    data: null,
                    sortable: false,
                    render: function (data, type) {
                        return '<button id="completeDeleteButton" class="btn btn-danger btn-sm center-block">Удалить</button>'
                    }
                },
            ],
            createdRow: function (nrow, data) {

                var taskDelete = function () {

                    swalWithBootstrapButtons.fire({
                        title: "Вы уверены?",
                        text: "Подтвердите удаление задачи.",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Да!",
                        cancelButtonText: "Отмена!",
                        reverseButtons: false
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("DeleteTask")',
                                data: { id: data.id },
                                success: function (response) {
                                    Swal.fire({
                                        title: 'Все получилось',
                                        text: response.description,
                                        icon: 'success',
                                        confirmButtonText: 'Окей'
                                    })
                                    dataTable.draw();
                                    completeDataTable.draw();
                                },
                                error: function (response) {
                                    Swal.fire({
                                        title: 'Упс',
                                        text: response.responseJSON.description,
                                        icon: 'error',
                                        confirmButtonText: 'Окей'
                                    })
                                },
                            })
                        }
                    });
                }

                for (var i = 0; i < completeDataTable.columns().header().length - 1; i++) {
                    $('td', nrow).eq(i).css('cursor', 'pointer');
                    $('td', nrow).eq(i).on('click', null);
                }

                $('#completeDeleteButton', nrow).on('click', taskDelete);
                $('td button', nrow).eq(i).on('click', null);
            }
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
